<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timer">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametres">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Parametres</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
