<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>

<img alt="brossage" src="assets/img/brossage.jpg" />

<form [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
  <ion-item>
    <ion-label position="stacked">Nombre total de zones</ion-label>
    <ion-input type="number" formControlName="totalZones"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Temps par zone (en secondes)</ion-label>
    <ion-input type="number" formControlName="zoneTime"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Temps d'attente entre les zones (en secondes)</ion-label>
    <ion-input type="number" formControlName="zoneBreak"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pour qui ?</ion-label>
    <ion-input type="text" formControlName="childName"></ion-input>
  </ion-item>

  <ion-button type="submit" [disabled]="!settingsForm.valid" expand="block">Sauvegarder</ion-button>
</form>
</ion-content>
