ion-list {
  margin-bottom: 1rem;
}

ion-item ion-label {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

ion-button {
  width: 50%;
}

ion-item {
  color: steelblue;
}

ion-input {
  color: steelblue;
}

