.timer-restant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 4em;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

ion-button {
  margin: 0 10px;
  color: black;
}

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card-subtitle {
  color: steelblue;
  margin-bottom: 0.5em;
}
