<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Zones brossées : {{ brushingZones}} / {{ totalZones }}</ion-card-title>
      <ion-card-subtitle>Timer pour {{ childName }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="buttons">
        <ion-button (click)="pauseTimer()">
          <ion-icon name="pause"></ion-icon>&nbsp;
          <ion-label>Pause</ion-label>
        </ion-button>

        <ion-button (click)="playTimer()">
          <ion-icon slot="icon-only" name="play-circle-sharp"></ion-icon>
          <ion-label>Play</ion-label>
        </ion-button>

        <ion-button (click)="resetTimer()">
          <ion-icon name="reload"></ion-icon>&nbsp;
          <ion-label>Reset</ion-label>
        </ion-button>
      </div>
      <div class="video">
        <div class="timer-restant">
          <ion-label>{{ tempsRestant }}</ion-label>
        </div>
        <video  width="320" height="320" autoplay muted controls>
          <source src="assets/video/brossage.mp4" type="video/x-m4v">
        </video>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
